@model IEnumerable<FaixaEtaria.Models.Pessoa>


@if (Model.Any(x => x.Idade >= 18 && x.Idade < 60))
{
    <div class="panel panel-default">
        <div class="panel-heading">Adultos cadastrados @Model.Count(x => x.Idade >= 18 && x.Idade < 60)</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Idade)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Idade >= 18 && item.Idade < 60)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Idade)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.PessoaId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.PessoaId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.PessoaId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}